@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;700&display=swap");

:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen";
  --md-code-font: "JetBrains Mono";
}

:root,
[data-md-color-scheme="default"] {
  /* default color */
  --md-default-fg-color: rgba(72, 52, 52, 0.78);
  --md-default-fg-color--light: rgba(72, 52, 52, 0.54);
  --md-default-fg-color--lighter: rgba(72, 52, 52, 0.32);
  --md-default-fg-color--lightest: rgba(72, 52, 52, 0.27);
  --md-default-bg-color: #fffffc;
  --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12);

  /* primary color */
  --md-primary-fg-color: #7991d1;
  --md-primary-fg-color--light: #687fa5;
  --md-primary-fg-color--dark: #95b1ba;
  --md-primary-bg-color: #edebe0;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-accent-fg-color: #3c5e91;
  --md-accent-fg-color--light: #a381ba;
  --md-accent-fg-color--transparent: rgba(82, 108, 254, 0.1);
  --md-accent-bg-color: #fffffc;
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* code color */
  --md-code-fg-color: #1c113f;
  --md-code-bg-color: #fbfaf5;

  /* typeset color */
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: var(--md-accent-fg-color--light);
  --md-typeset-mark-color: rgba(233, 212, 241, 0.9);
  --md-typeset-del-color: rgba(245, 80, 61, 0.15);
  --md-typeset-ins-color: rgba(228, 199, 235, 0.15);
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-table-color: rgba(0, 0, 0, 0.12);

  /* admonition color */
  /* --md-admonition-fg-color: var(--md-default-fg-color); */
  /* --md-admonition-bg-color: #fbfaf5; */

  /* footer color */
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-footer-bg-color: rgba(0, 0, 0, 0.87);
  --md-footer-bg-color--dark: rgba(0, 0, 0, 0.32);

  /* shadow colod */
  --md-shadow-z1: 1px 1px 2px #edeadc, 1px 1px 3px #e1d0c5;
  --md-shadow-z2: 1px 1px 2px #edeadc, 1px 2px 5px #cebeb3;
  --md-shadow-z3: 1px 1px 2px #edeadc, 1px 3px 7px #cebeb3;
}

.md-ellipsis,
h1,
.headerlink {
  font-size: larger;
  font-family: "LXGW WenKai Screen", "ZCOOL XiaoWei", serif;
}

body,
input {
  font-family:
    "LXGW WenKai Screen",
    "Lexend",
    "Noto Sans SC",
    "Source Code Pro",
    -apple-system,
    Helvetica,
    Arial,
    sans-serif;
}

center,
p,
li {
  font-size: medium;
}

.md-nav__link {
  font-size: small;
}

@media screen and (min-width: 960px) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 125em) {
  html {
    font-size: 137.5%;
  }
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 600;
}

.md-typeset h3,
.md-typeset h4 {
  font-weight: 500;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  letter-spacing: 0;
}

.md-typeset {
  font-size: 0.7rem;
}

.md-typeset code:not(pre code) {
  font-size: inherit;
}

.md-copyright {
  font-size: 0.55rem;
}

.md-typeset .admonition,
.md-typeset details {
  box-shadow: var(--md-shadow-z2);
}

.md-typeset img,
.md-typeset video {
  box-shadow: var(--md-shadow-z1);
  border-radius: 2px;
}

.md-tabs {
  background-color: var(--md-primary-fg-color--light);
}

.general-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.katex {
  -webkit-text-stroke-width: 0.3px;
}

@media screen and (max-width: 59.9375em) {
  .md-nav__source {
    background-color: var(--md-primary-fg-color);
  }
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title {
    background-color: var(--md-primary-fg-color);
  }
}

center,
p {
  font-size: medium;
}

.reference ol {
  counter-reset: li;
}

.reference li {
  padding-left: 0.6em;
  counter-increment: li;
  word-break: break-all;
}

.reference li::marker {
  content: "[" counter(li) "]";
  font-size: 0.9em;
}

.md-typeset :is(.emojione, .twemoji, .gemoji) {
  vertical-align: sub;
}

.markdown-source-view.mod-cm6 .cm-content > * {
  margin: auto auto !important;
}

.toc-tag {
  background-color: #3f6ec6b0;
  border-radius: 3px;
  font-size: 80%;
  padding: 3px;
}

.toc-tag-classnotes {
  background-color: #e6ad5bb0;
}

.toc-tag-classnotes::before {
  content: "课程笔记";
}

.reference ol {
  counter-reset: li;
}
.reference li {
  padding-left: 0.7em;
  counter-increment: li;
  word-break: break-all;
}
.reference li::marker {
  content: "[" counter(li) "]";
  font-size: 0.8em;
}
